services:

  temporal-postgres:
    image: postgres:13
    container_name: temporal-postgres
    restart: always
    environment:
      POSTGRES_USER: temporal
      POSTGRES_PASSWORD: temporal
    volumes:
      - temporal_pg_data:/var/lib/postgresql/data

  temporal:
    image: temporalio/auto-setup:1.22
    container_name: hms-temporal
    restart: always
    depends_on:
      - temporal-postgres
    environment:
      - DB=postgresql
      - DB_PORT=5432
      - POSTGRES_USER=temporal
      - POSTGRES_PWD=temporal
      - POSTGRES_SEEDS=temporal-postgres
    ports:
      - "7233:7233"

volumes:
  temporal_pg_data: