server:
  servlet:
    context-path: /demo
  port: 8080

spring:
  datasource:
    username: sa
    password: Justin@2025
    url: "jdbc:sqlserver://;serverName=103.167.89.125;databaseName=hms;encrypt=true;trustServerCertificate=true;"
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.dialect: org.hibernate.dialect.SQLServerDialect
jwt:
  signerKey: "1TjXchw5FloESb63Kc+DFhTARvpWL4jUGCwfGWxuG5SIf/1y/LgJxHnMqaF6A/ij"
  valid-duration: 3600 # in second
  refreshable-duration: 36000 # in seconds
springdoc:
  api-docs:
    path: /api-docs
